{% extends "base.html" %}
{% block title %}<h2>{{category.name}} </h2>{% endblock %}
{% block content %}
  <div class="container">
    <h2>Jutut</h2>
    {% if not topics %}
    <p>Ei vielä juttuja lisätty!</p>
    {% endif %}
    {% if topics %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Juttu</th>
          <th>Kirjoittaja</th>
        </tr>
      </thead>
      <tbody>
        {% for topic in topics %}
        <tr>
          <td><a href="/topic/{{ topic.id }}">{{ topic.title }}</a></td>
          <td>{{ topic.user.username }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    {% endif %}
    <form method="post" >
      <div class="container" style="padding: 30px;">
        <p>
        <label for="title"><b>Jutun otsikko</b></label>
        <input type="text" placeholder="Jutun otsikko" name="title" required>
        </p>
      
        <p>
        <label for="content"><b>Jutun sisältö</b></label>
        <input type="text" placeholder="Jutun sisältö" name="content" required>
        </p>
      
        <p>
        <button type="submit">Lisää Juttu</button>
        </p>
          
      </div>
             
    </form>
  </div>
{% endblock %}
