{% extends "base.html" %}
{% block title %}<h2>{{category.name}} </h2>{% endblock %}
{% block content %}
  <div class="container" style="justify-items: center;">
    {% if not topics %}
    <p>Ei vielä juttuja lisätty!</p>
    {% endif %}
    {% if topics %}
    <table>
      <thead>
        <tr>
          <th>Jutut</th>
        </tr>
      </thead>
      <tbody>
        {% for topic in topics %}
        <tr>
          <td><a href="topic/{{ topic.id }}">{{ topic.name }}</a>
          </td>
        </tr>
        <tr>
          <td>
          {% if topic.created_by == session.user_id %}
          <a href="topic/{{topic.id}}/delete">Poista Juttu</a>
          {% endif %}</tr>
        </td>
        <tr>
          <td>{{ topic.content }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    
    {% endif %}
    <form action="/category/{{category.id}}" method="post" >
      <div class="container" style="padding: 30px;">
        <p>
        <label for="title"><b>Jutun otsikko</b></label>
        <input type="text" placeholder="otsikko" name="title" required>
        </p>
      
        <p>
          <textarea id="content" name="content" placeholder="Aihe.." style="height:200px"></textarea>
        </p>
      
        <p>
        <button type="submit">Lisää Juttu</button>
        </p>
          
      </div>
             
    </form>
  </div>
{% endblock %}
