{% extends "base.html" %}
{% block title %}<h2>Kirjaudu JuttuSaitille </h2>{% endblock %}
{% block content %}
<form action="/login" method="post" >
  <div class="container" style="padding: 30px;">
    <p>
    <label for="uname"><b>Käyttäjänimi</b></label>
    <input type="text" placeholder="Käyttäjänimi" name="uname" required>
    </p>

    <p>
    <label for="psw"><b>Salasana</b></label>
    <input type="password" placeholder="Salasana" name="psw" required>
    </p>

    <p>
    <button type="submit">Kirjaudu sisään</button>
    </p>
    
  </div>

  <div class="container">
    <button type="button" class="register" href="/register">Rekisteröidy</button>
  </div>        
</form>
{% endblock %}

