{% extends "base.html" %}
{% block title %}<h2>Rekisteröidy JuttuSaitille </h2>{% endblock %}

{% block content %}
   
  <form action="/register" method="post">
    <div class="container" style="padding: 30px; ">
      <p>
      <label for="username"><b>Käyttäjänimi</b></label>
      <input style="width: 200px" type="text" minlength="4" placeholder="Käyttäjänimi, vähintään 4 merkkiä" name="username" required>
      </p>

      <p>
      <label for="password"><b>Salasana</b></label>
      <input style="width: 200px" type="password" minlength="6" placeholder="Salasana, vähintään 6 merkkiä" name="password" required>
      </p>

      <p>
      <label for="password-repeat"><b>Toista salasana</b></label>
      <input style="width: 200px" type="password" minlength="6" placeholder="Toista salasana" name="password-repeat" required>
      </p>

      <p>
        <label for="adminform"><b>Haluatko admin-oikeudet</b></label>
        <input type="checkbox" name="adminform" value="1">
      </p>

      <p>
      <input type="submit" value="Rekisteröidy">
      </p>

    </div>

    <div class="container">
      
      <button type="button" class="login" href="/login">Rekisteröitynyt jo? Kirjautumissivulle!</button>
    </div>

  </form>

  <script>
    function validate(form) {

      if (form.p.value != form.password-repeat.value) {
        alert("Salasanat eivät täsmää!");
        return false;
      } if (form.password.value.length < 6) {
        alert("Salasanan täytyy olla vähintään 6 merkkiä pitkä!");
        return false;
      } if (form.username.value.length < 4) {
        alert("Käyttäjänimen täytyy olla vähintään 4 merkkiä pitkä!");
        return false;
      } if (form.username.value.length == 0) {
        alert("Käyttäjänimi ei voi olla tyhjä!");
        return false;
      } if (form.password.value.length == 0) {
        alert("Salasana ei voi olla tyhjä!");
        return false;
      }  else {
        return true;
      }
    }

      

  </script>
  </body>

{% endblock %}
